<ion-tabs class="tabs-icon-top tabs-royal">

	<ion-tab title="HOME" icon="ion-home" href="#/tab/unicorn">
	<ion-nav-view name="tab-unicorn"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Search" icon="ion-search" href="#/tab/search">
	<ion-nav-view name="tab-search"></ion-nav-view>
	</ion-tab>

	<ion-tab title="What's Hot" icon="ion-fireball" href="#/tab/trending">
	<ion-nav-view name="tab-trending"></ion-nav-view>
	</ion-tab>


	<ion-tab title="???" icon="ion-help" href="#/tab/game">
	<ion-nav-view name="tab-game"></ion-nav-view>
	</ion-tab>
</ion-tabs>
